
body{
    background: black;
    
    
  
    }
    
    img{
        
        position: absolute;
        left:4cm;
        top: 7cm;
    }
    button {
        
        
        position: relative;
        left:1.5cm;
        top:11cm;
        margin: 30px;
        
        
    }